.footer {
    display: flex;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    font-family: $secondary-font;
    flex-direction: column;
    padding: 2rem;
    
  }

  /* Estilo de logo redes sociales */
.img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    align-items: center;
  }
  
  .img-logo-rrss {
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
  }