$primary-color: #63585e;
$secondary-color: #b9c0da;
$tertiary-color: #998da0;
$fourth-color: #c4dacf;
$fifth-color: #c4e7d4;
$breakpoint-color: #7f9183;

/* Colores Formulario */
$border-color-form: #ab4493;
$back-color-form: #fbfbfb;
$border-active-form: #97d848;
